[project]
	description = test repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bearkachu
[access "refs/for/refs/*"]
	read = group user/bearkachu
	push = group user/bearkachu
	label-Code-Review = -2..+2 group user/bearkachu
	label-Verified = -1..+1 group user/bearkachu
	rebase = group user/bearkachu
	removeReviewer = group user/bearkachu
	submit = group user/bearkachu
[access "refs/heads/*"]
	read = group user/bearkachu
	create = group user/bearkachu
	push = +force group user/bearkachu
	pushMerge = group user/bearkachu
[access "refs/tags/*"]
	push = +force group user/bearkachu
	pushTag = group user/bearkachu
	pushSignedTag = group user/bearkachu
